@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

::-webkit-scrollbar:hover {
  width: 7px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #00000088;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
